<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contacts</h1>
      <p class="text-center lead">create or edit the your contact below</p>

      <%- include('includes/messages') %> 


      <%if(contato._id) {%> 
      <form action="/contato/edit/<%= contato._id %>" method="POST">
      <% } else { %>
         <form action="/contato/register" method="POST">
      <% } %> 
     
    
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input
            value="<%= contato.name %>"
            type="text"
            class="form-control"
            name="name"
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input
            value="<%= contato.lastname %>"
            type="text"
            class="form-control"
            name="lastname"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Phone</label>
          <input
            value="<%= contato.phone %>"
            type="tel"
            class="form-control"
            name="phone"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input
            value="<%= contato.email %>"
            type="email"
            class="form-control"
            name="email"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
